<section class="section_bg">
    <h1>Cart</h1>
</section>

<section> 
    <h3>Courses in Cart</h3>
    <hr>
    <div class="container ">
        <div class="col-md-12 card box-shadow-cus text-center">
            <div class="col-md-3">
                <img src="assets/images/django.png" height="200" width="auto" alt="course image">
            </div>
            <div class="col-md-6">
                <h3>Course name here</h3>
                <p>Some description here</p>
            </div>
            <div class="col-md-3">
                
                    <h5><i class="fas fa-rupee-sign" style="font-size: 23px;">&nbsp;</i>6000</h5>
                    <span style="margin-left: 2rem;">
                        <div>
                            <h6><del>₹ 7,440</del></h6>
                            <h6 style="color: rgb(134, 25, 25);">26% off</h6>
                        </div>
                    </span>
               
            </div>
        </div>
    </div>
</section>

<section>
    <h3>Recomended Courses</h3>
    <hr>
    <span class="text-center">Sorry, No Recomended course now</span>
</section>

<div class="container">
    <div class="text-center">
        <h3 class="heading-primary mt-5">CART</h3>

        <table class="box-shadow-cus table  table-bordered table-responsive-sm table-responsive-lg table-responsive-md">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Course</th>
                    <th>Bundle</th>

                    <th>DateTime</th>
                    <th>Delete</th>
                    <th>CheckOut</th>
                </tr>
            </thead>
            <tbody>

                <!-- <tr>
	        			<td><span class="text-uppercase">{{item.user.username}}</span></td>
	        			<td><span class="text-uppercase">{{item.course.name}}</span></td>
	        			<td><span class="text-uppercase">{{item.bundle}}</span></td>
	        			<td><span>{{item.time}}</span></td>
	        			<td><a href="/deleteFromCart/{{item.id}}" class="btn btn-outline btn-success box-shadow-cus">Delete</a></td>

	        			<td><a href="/cartCheckout/course/{{item.id}}" class="btn btn-outline btn-info box-shadow-cus">Proceed to Checkout</a></td>

	        			<td><a href="/cartCheckout/bundle/{{item.id}}" class="btn btn-outline btn-info box-shadow-cus">Proceed to Checkout</a></td>


              </tr> -->

                <tr>
                    <td><span class="text-uppercase">username</span></td>
                    <td><span class="text-uppercase">course name</span></td>
                    <td><span class="text-uppercase">bundle</span></td>
                    <td><span>time</span></td>
                    <td><a class="btn btn-outline btn-success box-shadow-cus">Delete</a></td>

                    <td><a class="btn btn-outline btn-info box-shadow-cus">Proceed to Checkout</a></td>
                </tr>

                <tr>
                    <td><span class="text-uppercase">username</span></td>
                    <td><span class="text-uppercase">course name</span></td>
                    <td><span class="text-uppercase">bundle</span></td>
                    <td><span>time</span></td>
                    <td><a class="btn btn-outline btn-success box-shadow-cus">Delete</a></td>

                    <td><a class="btn btn-outline btn-info box-shadow-cus">Proceed to Checkout</a></td>
                </tr>

                <tr>
                    <td><span class="text-uppercase">username</span></td>
                    <td><span class="text-uppercase">course name</span></td>
                    <td><span class="text-uppercase">bundle</span></td>
                    <td><span>time</span></td>
                    <td><a class="btn btn-outline btn-success box-shadow-cus">Delete</a></td>

                    <td><a class="btn btn-outline btn-info box-shadow-cus">Proceed to Checkout</a></td>
                </tr>

            </tbody>
        </table>

        <div class="text-center center col-md-12 mt-5">
            <h1 class="display-4">No Items In Cart</h1>
        </div>

    </div>
</div>
<br>
<br>