<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 mx-auto mt-3 ml-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">
                            <form id="register-form" *ngIf="!eMailVerified" role="form" autocomplete="off" class="form"
                                method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input [(ngModel)]="eMail" id="email" name="email" placeholder="email address"
                                            class="form-control" type="email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                      <p class="text-danger" *ngIf="showE">Email error</p>
                                    </div>
                                </div>

                                <div *ngIf="!eMailVerified" class="form-group">
                                    <input (click)="resetPassword()" name="recover-submit"
                                        class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                </div>

                            </form>

                            <form id="register-form" *ngIf="eMailVerified" role="form" autocomplete="off" class="form"
                                method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input [(ngModel)]="secreteCode" id="code" name="code" placeholder="secreteCode"
                                            class="form-control" type="password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input [(ngModel)]="newPassword" id="newPassword" name="newPassword"
                                            placeholder="New Password" class="form-control" type="password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input [(ngModel)]="reTypeNewPassword" id="reTypeNewPassword"
                                            name="reTypeNewPassword" placeholder="Retype Password" class="form-control"
                                            type="password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                      <p class="text-danger" *ngIf="showE">{{errorMessage}}</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input (click)="submitPasscode()" name="recover-submit"
                                        class="btn btn-lg btn-primary btn-block" value="Submit" type="submit">
                                </div>
                            </form>

                            <p class="text-danger" *ngIf="showError">Sorry! Entered mail doesn't match with our Records.
                                Please Register</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>