<ngx-spinner><p style="color:white">Loading...</p></ngx-spinner>

<section *ngIf="errorStatus; else elseBlock">
  <p>Something Went Wrong</p>
</section>

<ng-template #elseBlock>
<section class="course-detail mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 p-0">
        <div class="container">
          <!-- <div class="row">
            <button type="button" class="btn btn-lg mx-auto btn-outline-primary" style="width: 100%;"><span
                class="btn-text" style="font-weight: bold;"><a href="#">Enroll Now</a></span></button>
          </div> -->
          <div class="row mt-2">
            <button type="button" class="btn btn-lg btn-wh mx-auto btn-danger" (click)="addToCart()" style="width: 100%;"><span
                  class="btn-text" style="font-weight: bold; color: white;">
                  <i class="fa fa-shopping-cart" aria-hidden="true">&nbsp;&nbsp;</i>Enroll Now</span></button>
          </div>
        </div>
        <div class="container mt-3">
          <div class="row">
            <div class="card" style="width: 100%;">
              <div class="card-body">
                <!-- <div class="row course-price p-1 card-row">
                  <span class="couse-details-text"></span>
                </div> -->
                <div class="row course-price p-1 card-row text-center" style="justify-content: center;">
                  <h6 style="font-size: 25px;"><i class="fas fa-rupee-sign"
                      style="font-size: 23px;">&nbsp;</i>{{data.price}}</h6>
                  <span style="margin-left: 2rem;">
                    <div>
                      <h6 style="color: gray;"><del>₹ 7,440</del></h6>
                      <h6 style="color: rgb(197, 15, 15);">26% off</h6>
                    </div>
                  </span>
                </div>
                <hr>
                <div class="row course-price p-1 card-row">
                  <span class="couse-details-text">
                    <i class="fa fa-video-camera" aria-hidden="true">&nbsp;&nbsp;</i>
                    <b>{{data.no_of_video}}</b></span>
                </div>
                <div class="row course-price p-1 card-row">
                  <span class="couse-details-text">
                    <i class="fa fa-file-text" aria-hidden="true">&nbsp;&nbsp;</i>
                    <b>{{data.no_of_lect}}</b></span>
                </div>
                <div class="row course-price p-1 card-row">
                  <span class="couse-details-text">
                    <i class="fa fa-question-circle" aria-hidden="true">&nbsp;&nbsp;</i>
                    <b>{{data.no_of_quiz}}</b></span>
                </div>
                <!-- <div class="row course-price p-1 card-row">
                  <span class="couse-details-text">
                    <i class="fa fa-user-circle" aria-hidden="true">&nbsp;&nbsp;</i>
                    <b>{{data.student_enrolled}}</b></span>
                </div> -->
                <div class="row course-price p-1 card-row">
                  <span class="couse-details-text">
                    <i class="fa fa-shield" aria-hidden="true">&nbsp;&nbsp;</i>
                    <b>Certificate on Completion</b></span>
                </div>
                <div class="row course-price p-1 card-row">
                  <span class="couse-details-text">
                    <i class="fa fa-users" aria-hidden="true">&nbsp;&nbsp;</i>
                    <b>Group Dynamics</b></span>
                </div>
                <div class="row course-price p-1 card-row">
                  <span class="couse-details-text">
                    <i class="fa fa-user-circle" aria-hidden="true">&nbsp;&nbsp;</i>
                    <b>Dedicated mentor</b></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 mb-5">
        <div class="container">
          <div class="row">
            <h2 class="course-title">{{data.name}}</h2>
          </div>
          <hr>
          <div class="row">
            <div class="container mt-2">
              <div class="row">
                <div class="col-sm-11">
                  <div class="container">
                    <div class="row">
                      <!-- <div class="col-md-4 instructor-name">
                        <div>By,&nbsp;</div><strong class="instructor-name1">{{data.author}}</strong>
                      </div> -->
                      <!-- <div class="col-md-4 instructor-name">
                        <div>Category</div>
                        <div class="instructor-name1">Design</div>
                      </div> -->
                      <!-- <div class="col-md-4 instructor-name"> -->
                      <!-- <div>
                        <div class="row " style="margin-top: 5px;left: 1%;">
                          <div class="star-rating" style="color: #e2aa03;">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </div>
                        </div>
                        <div>{{data.ratings}}</div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container mt-3 p-0">
            <div class="row rounded course-image" style="padding-inline-start: 2rem;">
              <img class="img-fluid rounded course-image1" src="/assets/images/{{data.cat}}.png"
                alt="image could not be loaded">
            </div>

            <div class="row mt-3">
              <h4 class="course-description">Course Description</h4>
              <hr>
              
            </div>
            <h6>What This Course ?</h6>
            <div class="row mt-3">
              <p class="cours-paragraph">{{data.what}}</p>
            </div>
            <h6>Why This Course ?</h6>
            <div class="row mt-3">
              <p class="cours-paragraph">{{data.why}}</p>
            </div>
            <div class="row mt-3">
              <h4 class="course-description">Curriculum For This Course</h4>
            </div>
            <div class="row mt-3">
              <div class="container demo">
                <div class="panel-group" id="accordion"  role="tablist" aria-multiselectable="true">
                      <div class="panel-body" *ngFor="let chapter of chapters">
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseTopics{{chapter.sl_no}}" aria-expanded="false" aria-controls="collapsePartOne">
                                <i class="fa fa-plus" aria-hidden="true">&nbsp;&nbsp;</i>
                                <a >{{chapter.name}}</a>
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTopics{{chapter.sl_no}}" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingTwo">
                            <div *ngFor="let topic of chapter.topics">
                              <span (click)="onChapterSelected(id,chapter.sl_no,topic.sl_no)" style="margin: 3rem; line-height: 3rem;">
                              <i class="fa fa-file-text-o" aria-hidden="true">&nbsp;&nbsp;</i>
                              {{topic.name}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</ng-template>

<script>
  function toggleIcon(e) {
    $(e.target)
      .prev('.panel-heading')
      .find(".more-less")
      .toggleClass('glyphicon-plus glyphicon-minus');
  }
  $('.panel-group').on('hidden.bs.collapse', toggleIcon);
  $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>