<section class=" text-light vh-80 header-inner p-5 jarallax o-hidden" data-overlay data-jarallax
    data-speed="0.2">
    <!-- <img src="assets/img/homebg.jpg" alt="Image" class="jarallax-img opacity-30"> -->

    <!-- <section style="padding-bottom: 0rem;"> -->
      <img src="assets/img/slider-1.jpg" alt="Image" class="jarallax-img opacity-30">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="pl-md-5"  style="margin-top: 200px; margin-left: 30px;">
              <!-- <img src="assets/img/Logo.png" height="100px" width="200px"> -->
              <h1 class="display-4 text-white">
                Code . Collab . Career
              </h1>
                <div class="mb-4">
                    <h3>
                        Platform that makes learning Simple.
                    </h3>
                </div>
                <a routerLink="/course" class="btn btn-lg btn-white">Explore Courses</a>
                <!-- {% if request.user.is_anonymous %}-->
                <a routerLink="/register" class="btn btn-lg btn-wh mx-1 btn-danger">Register Now</a>
            </div>
          </div>
          <div class="col-md-5">
            <!-- <div class="card bg-warning shadow border-0"> class="card-img shadow-3d hover-shadow-3d" -->
              <img src="assets/img/comfortzone.png" height="450px" width="450px"  alt="image is not able to display"  >
            <!-- </div> -->
          </div>
          <!-- <a href="#section2"></a> -->
        </div> 
      </div>
    <!-- </section> -->


    <!-- <div class="container" >
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 layer-3 aos-init aos-animate">
              <div class="card bg-default shadow border rounded" >
                <img src="assets/img/homebg.jpg" class="card-img shadow-3d hover-shadow-3d">
              </div>
                <!-- <h1 class="display-4 text-white">
                    Code . Collab . Career
                </h1>
                <img src="assets/img/log.jpg">
                <div class="mb-4">
                    <p class="lead text-dark">
                        Platform that makes learning Simple.
                    </p>
                </div>
                <a href="./courses.html" class="btn btn-lg btn-white">Explore Courses</a>
                <!-- {% if request.user.is_anonymous %}
                <a href="./register" class="btn btn-lg btn-wh mx-1 btn-danger">Register Now</a>
                <!-- {%else%} -->
                <!-- <a href="" class="btn btn-lg btn-dark mx-1">Your Courses</a> -->
                <!-- {% endif %}
            </div>
        </div>
    </div> -->

    <div class="decoration-wrapper">
        <div class="decoration bottom right d-none d-md-block" data-jarallax-element="100 100">
            <img class="bg-primary-2" src="../../../assets/img/decorations/deco-blob-1.svg" alt="deco-blob-1 decoration"
                data-inject-svg />
        </div>
    </div>
    <div class="divider flip-x">
        <img src="../../../assets/img/dividers/divider-1.svg" alt="graphical divider" data-inject-svg />
    </div>
</section>

<div data-overlay class="bg-primary-3 o-hidden">
  <div class="position-absolute o-hidden top-0">
      <div class="decoration right bottom scale-2">
          <img class="bg-primary-2" src="../../../assets/img/decorations/deco-blob-2.svg" alt="deco-blob-2 decoration"
              data-inject-svg />
      </div>
      <div class="decoration right bottom scale-3">
          <img class="bg-white" src="../../../assets/img/decorations/deco-dots-6.svg" alt="deco-dots-6 decoration"
              data-inject-svg />
      </div>
  </div>
</div>

<section class="bg-primary-alt" id="section2">
  <div class="container">
      <div class="row justify-content-between o-hidden">
          <div class="col-md-3">
              <!-- <h2 class="h1">Developed by industry professionals.</h2> -->
              <h1 class="display-4 ">
                Code
            </h1>
              <p class="lead">Enhance your problem solving skills with enormous Assignments and industry level Projects.</p>
          </div>
          <div class="col-md-1">
            <div class="justify-content-center rightarrow">
              <img src="assets/img/rightarrow.png" class="img-responsive" draggable="false" style="height: 100px; width:100px;">
          </div>
          </div>
              <div class="col-md-3">
              <h1 class="display-4 ">
                Collaborate
            </h1>
              <p class="lead">Achieve deeper understanding of learning material by collaborating with your group any time any where.</p>
            </div>
            <div class="col-md-1">
              <div class="justify-content-center rightarrow">
                <img src="assets/img/rightarrow.png" class="img-responsive" draggable="false" style="height: 100px; width:100px;">
            </div>
            </div>
              <div class="col-md-3">
              <h1 class="display-4 ">
                Career
            </h1>
              <p class="lead">Start your career by aquiring an internship in the 21st centuries most trending job "MACHINE LEARNING".</p>
            </div>
      </div>
  </div>
</section>


<section class="section section-lg" style="padding: 2rem 0 0 0;" >
    <!-- <div class="container"> -->
        <h2 class="text-center  mx-xl-6">Why AI Educator ? </h2>
        <hr width="150px" style="border-top: 2px double #ffc107; size: 10px; margin-top: 0rem;" color="#ffc107">
        <!-- <div class="row row-grid align-items-center aos-init aos-animate"> -->
            <!-- <div class="col-md-6 order-md-1">
                <div class="pr-md-5">
                    <div class="icon icon-lg mb-5">
                        <i class="fas fa-cog fa-spin fa-3x"></i>
                    </div>
                    <h2>Our features</h2>
                    <p class="lead">The platform comes with three awesome features to help you get started faster.</p>
                    <ul class="list-unstyled my-3">
                        <li class="d-flex align-items-center my-2">
                            <img class="icon icon-lg" src="../../../assets/img/icons/theme/communication/group.svg"
                                alt="icon" data-inject-svg />
                            <span class="h6 mb-0 ml-2">AI Powered Grouping</span>
                        </li>
                        <li class="d-flex align-items-center my-2">
                            <img class="icon icon-lg" src="../../../assets/img/icons/theme/files/selected-file.svg"
                                alt="icon" data-inject-svg />
                            <span class="h6 mb-0 ml-2">AI Powered Dynamic Content</span>
                        </li>
                        <li class="d-flex align-items-center my-2">
                            <img class="icon icon-lg" src="../../../assets/img/icons/theme/communication/shield-user.svg"
                                alt="icon" data-inject-svg />
                            <span class="h6 mb-0 ml-2">AI Assistance</span>
                        </li>
                    </ul>

                </div>
            </!-->
            <!-- <div class="col-md-6 order-md-2">
                <a href="#" class="fade-page">
                    <img src="../../../assets/images/features.png"
                        class="rounded shadow-3d hover-shadow-3d mb-3 mb-md-0 border">
                </a>
            </div>  -->
            <ngb-carousel
              showNavigationArrows="false"
              showNavigationIndicators="true"
              interval="10000"
              keyboard="true"
              pauseOnHover="true"
              wrap="true"
              activeId="'slideTwo'"
              style="width: 100%;"
              >
                <ng-template ngbSlide id="slideOne">
                    <div class="picsum-img-wrapper bg-dark" >
                      <div class="row" style="background-size: cover;">
                        <img src="assets/img/homebg.jpg" style="max-height: 600px;" width="100%" alt="Random first slide" class="opacity-30">
                    </div>
                    </div>
                    <div class="carousel-caption" >
                        <h2>AI Powered Grouping</h2>
                        <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
                    </div>
                </ng-template>
                <ng-template ngbSlide id="slideTwo">
                    <div class="picsum-img-wrapper bg-dark">
                      <div class="row" style="background-size: cover;">
                        <img src="assets/img/inner-1.jpg" style="max-height: 600px;" width="100%" alt="Random second slide" class="opacity-30">
                      </div>
                    </div>
                    <div class="carousel-caption">
                        <h2>AI Powered Dynamic Content</h2>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                    </div>
                </ng-template>
                <ng-template ngbSlide id="slideThree">
                    <div class="picsum-img-wrapper bg-dark">
                      <div class="row" style="background-size: cover;">
                        <img src="assets/img/90440.jpg" style="max-height: 600px;" width="100%" alt="Random third slide" class="opacity-30">
                    </div>
                    </div>
                    <div class="carousel-caption">
                        <h2>AI Assistance</h2>
                        <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
                    </div>
                </ng-template>
            </ngb-carousel>
          <!-- </div> -->
    <!-- </div> -->
</section>

<section class="bg-primary-alt" >
    <!-- <div class="container text-center">
      <h2 class="display-4 mx-xl-6">
        <span class="wai">Technology</span>
      </h2>
      <h3 class="mt-5 mb-5">A disruptive technology which will change the way self learning take place optimally.</h3>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card bg-default shadow border rounded">
            <img src="assets/img/land-4.jpg" class="card-img shadow-3d hover-shadow-3d">
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <h3>Maximize Learner Familiarity</h3>
            <p class="lead">Our ML algorithms peek into the minds of individual learners and calibrate Content, MCQs,
              Assignments so that the learner is always in his zone of proximal development(ZPD). In this zone, learner
              feels confident and will be highly productive which in turn makes programming fun and improves learning
              rate.</p>
            <a routerLink="/login" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section_bg_2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="pl-md-5">
            <h3 class="text-white">Maximize Learner Mental Effort</h3>
            <p class="lead text-white">Our algorithms also calibrate the assignments so that the learner has to make efforts to solve
              them. Since every individual’s problem solving capabilities are different, and even an individual’s
              capability rapidly improves with our system, our calibrated assignments continue to challenge him/her.</p>
            <a routerLink="login" class="font-weight-bold btn btn-warning mt-5">Get Started</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-warning shadow border-0">
            <img src="assets/img/land-5.jpg" alt="image is not able to display" class="card-img shadow-3d hover-shadow-3d">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary-alt">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card bg-success shadow border-0">
            <img src="assets/img/land-6.jpg" class="card-img shadow-3d hover-shadow-3d">
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <h3>Group learning and Mentoring</h3>
            <p class="lead">Our system has built-in mechanism to include all advantages of group learning.
            </p>
            <ul>
              <li>
                <p>Brain storming.</p>
              </li>
              <li>
                <p>Bench marking achievements for the ultimate motivation.</p>
              </li>
              <li>
                <p>Encouragement, course correction by group members without exposing him to some of the negatives of
                  classroom learning.</p>
              </li>
            </ul>
            <a routerLink="/login" class="font-weight-bold btn btn-success mt-5">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="pl-md-5">
            <h3>Maximize Rate of Learning</h3>
            <p class="lead">Using ML based accurate predictions, indicate root cause analysis of lower learning rates, and
              indicates time required to reach an expert benchmark.</p>
            <a routerLink="/login" class="font-weight-bold btn btn-primary mt-5">Get Started</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-primary shadow border-0">
            <img src="assets/img/land-7.jpg" class="card-img hover-shadow-3d shadow-3d">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary-alt">
    <h2 class="text-center display-4 mx-xl-6">Become a Machine Learning Ninja ! </h2>
    <hr width="300px" style="border-top: 4px double #ffc107; size: 10px;" color="#ffc107">

    <div class="container card card-body" style="box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.8);margin-top: 20px;border-radius: 5px;">
      <div class="row">
          <div class="col-md-12">
              <div class="" style="margin-top: 20px;">
                  <div class="row">
                      <div class="col-md-9">
                          <div class="container-fluid">
                              <div class="row">
                                  <div class="col-md-10" style="margin-top: 5px;color: rgb(97, 247, 197);">
                                      <h2 style="text-align: left; color:#31414f; font-size: 50px; font-weight: 700;">ML Bootcamp</h2>
                                      <div class="row" style="margin-top: 5px;">
                                        <div class="col-md-9 " style="color:  rgb(66, 63, 62);">

                                          <span class="ml-2" style="font-size:20px;font-weight: 600;"><i class="fa fa-clock-o" aria-hidden="true">&nbsp;</i>4 days</span>
                                            <!-- <p>Support</p>
                                            <p> dedicated mentor</p> -->
                                            <div class="row " style="margin-top: 5px;left: 1%;">
                                              <div class="star-rating" style="color: #ffc107;">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                  <!-- <span class="fa fa-star" data-rating="1"></span>
                                                  <span class="fa fa-star" data-rating="2"></span>
                                                  <span class="fa fa-star" data-rating="3"></span>
                                                  <span class="fa fa-star" data-rating="4"></span>
                                                  <span class="fa fa-star" data-rating="5"></span> -->
                                                  <span style="color: rgb(31, 30, 30);">&nbsp;&nbsp;&nbsp; (4.9)</span>
                                                  <!-- <input type="hidden" name="whatever1" class="rating-value" value="4.8"> -->
                                                </div>
                                                <!-- <div class="d-flex mb-3">
                                                  <img class="icon bg-warning" src="/assets/img/star.svg" alt="star interface icon" data-inject-svg />
                                                  <img class="icon bg-warning" src="/assets/img/star.svg" alt="star interface icon" data-inject-svg />
                                                  <img class="icon bg-warning" src="/assets/img/star.svg" alt="star interface icon" data-inject-svg />
                                                  <img class="icon bg-warning" src="/assets/img/star.svg" alt="star interface icon" data-inject-svg />
                                                  <img class="icon bg-warning" src="/assets/img/star.svg" alt="star interface icon" data-inject-svg />
                                                </div> -->
                                          </div>
                                        </div>
                                      </div>
                                      <hr>
                                  </div>
                              </div>

                              <div class="row ">
                                  <div class="" style="margin-top: 5px; color: rgb(66, 63, 62);">
                                  <p>By Metagogy Learning Systems Pvt Ltd.</p>
                                  <h6>What You will learn</h6>
                                  <table>
                                  <tr>
                                    <td>
                                      <ul>
                                        <li>Learn Python3 professionally</li>
                                        <li>Practice coding questions in interview point of view</li>
                                        <li>Pandas for Data Analysis and Data wrangling.</li>
                                        <li>Understand the intuition behind Neural Networks</li>
                                        <li>TensorFlow and keras for Classification and Regression Tasks</li>
                                        <li>Apply CNN in practice</li>
                                        <li>intuition behind Recurrent Neural Networks</li>
                                        <li>TensorFlow and keras for Time Series Analysis with RNN</li>
                                        <li> Apply Seq2Seq models in practice using tensorflow and keras</li>
                                      </ul>
                                    </td>
                                    <td>
                                      <ul>
                                      <li>Object Oriented Programming with classes!</li>
                                      <li>NumPy for Numerical Data efficiently.</li>
                                      <li>Data Visualization with MatPlotLib.</li>
                                      <li>Apply Neural Networks in practice</li>
                                      <li>intuition behind Convolutional Neural Networks</li>
                                      <li>TensorFlow and keras for Image Classification with CNN</li>
                                      <li>Apply RNN in practice</li>
                                      <li>intuition behind Seq2Seq models</li>
                                      <li>Become a Deep Learning ninja !</li>
                                    </ul>
                                  </td>
                                  </tr>
                                  <!-- <tr>
                                    <td> Practice coding questions in interview point of view</td>
                                    <td> NumPy for Numerical Data efficiently.</td>
                                  </tr>
                                  <tr>
                                    <td> Pandas for Data Analysis and Data wrangling.</td>
                                    <td> Data Visualization with MatPlotLib. </td>
                                  </tr>
                                  <tr>
                                    <td>Understand the intuition behind Neural Networks</td>
                                    <td>Apply Neural Networks in practice</td>
                                  </tr>
                                  <tr>
                                    <td>TensorFlow and keras for Classification and Regression Tasks</td>
                                    <td>intuition behind Convolutional Neural Networks</td>
                                  </tr>
                                  <tr>
                                    <td>Apply CNN in practice</td>
                                    <td>TensorFlow and keras for Image Classification with CNN</td>
                                  </tr>
                                  <tr>
                                    <td>intuition behind Recurrent Neural Networks</td>
                                    <td>Apply RNN in practice</td>
                                  </tr>
                                  <tr>
                                    <td>TensorFlow and keras for Time Series Analysis with RNN</td>
                                    <td>intuition behind Seq2Seq models</td>
                                  </tr>
                                  <tr>
                                    <td>Apply Seq2Seq models in practice using tensorflow and keras</td>
                                    <td>Become a Deep Learning ninja !</td>
                                  </tr> -->
                                </table>

                                  <!-- and <span style="color: rgba(2, 2, 155, 0.76);">So on...</span></td> -->


                              </div>

                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 bgw" style="margin-top: -11px;color: rgb(97, 247, 197);">
                        <img src="/assets/images/ml-logo.png" alt="Course image" >
                        <!-- <div class="col-md-12">
                          <div class="col-md-6 " style="margin-top: 5px;">

                              <h6 style="font-size: 25px;"><i class="fas fa-rupee-sign" style="font-size: 23px;">&nbsp;</i>6000</h6>
                          </div>
                          <div class="col-md-6" style="position: relative;">
                            <h6><del>₹ 7,440</del></h6>
                              <h6 style="color: rgb(134, 25, 25);">26% off</h6>
                          </div>
                        </div> -->
                        <div class="container mt-3">
                          <div class="row">
                              <div class="card" style="width: 100%;">
                                  <div class="card-body">
                                      <div class="row course-price p-1 card-row">
                                        <h6 style="font-size: 25px;"><i class="fas fa-rupee-sign" style="font-size: 23px;">&nbsp;</i>6000</h6>
                                        <span style="margin-left: 2rem;">
                                          <div>
                                            <h6><del>₹ 7,440</del></h6>
                                            <h6 style="color: rgb(134, 25, 25);">26% off</h6>
                                          </div>
                                        </span>
                                      </div>
                                      <!-- <div class="row course-price p-1 card-row">
                                          <span class="couse-details-text">13 Hours on-demand video</span>
                                      </div>
                                      <div class="row course-price p-1 card-row">
                                          <span class="couse-details-text">11 Lectures</span>
                                      </div>
                                      <div class="row course-price p-1 card-row">
                                          <span class="couse-details-text">3 Quizes</span>
                                      </div>
                                      <div class="row course-price p-1 card-row">
                                          <span class="couse-details-text">4,873 Students enrolled</span>
                                      </div>
                                      <div class="row course-price p-1 card-row">
                                          <span class="couse-details-text">Certificate on Completion</span>
                                      </div> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 5px;">
                      <div class="col-md-12 text-center">
                          <!-- <div style="position: relative;"> -->
                          <button class="btn btn-primary btn-lg" type="button"><a routerLink="/course" [state]="{data: {courseId: 1}}" style="text-decoration: none;color: white;" >Know More</a></button>
                      <!-- </div>
                      <div class="col-md-12"> -->
                        <!-- <div style="position: relative;"> -->
                        <button class="btn btn-lg btn-wh mx-1 btn-danger" type="button" ><a routerLink="/login" style="text-decoration: none;color: white;">Add To Cart</a></button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>

      <!-- <div class="container"> -->

        <!-- <div class="row">
          <div class="col-sm-4">
            <div class="card rounded">
              <div class="view">
                <img class="card-img-top rounded-0" src="/assets/images/mnist.png">

              </div>
              <div class="card-body" style="background-color: #fff;">
                <h2 style="font-weight: bold;" class="mt-1 mx-auto">ML Bootcamp</h2>
              <div class="">
                <p style="font-size: 17px;">
                  A landing for shared workspaces with date picker functionality.
                </p>
                <span>
                  <i class="fas fa-clock" style="font-size: 22px"></i>
                  <span class="ml-2" style="font-size:20px;font-weight: 600;">4 days</span>
                </span>
                <div class="container mt-2">
                  <div class="row">
                    <div class="col-sm-6">
                      <span>
                        <i class="fas fa-rupee-sign" style="font-size: 23px;">&nbsp;</i>
                        <span class="" style="font-size:20px;font-weight: 600;">6,000</span>
                      </span>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <s style="font-size:15px;font-weight: 600;text-decoration: line-through; color: rgb(85, 84, 84);">₹ 7,440</s>
                      </div>
                      <strong class="row" style="font-size: 15px;font-weight: 400; color: crimson;">
                        24% off
                      </strong>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="form-group mx-auto">
                <a type="button" routerLink="../coursedetails">
                  <button type="submit" class="btn btn-primary btn-block"> View Details  </button>
                </a>
              </div>
              <!-- <button type="button" class="btn btn-primary btn-lg btn-block mt-2 mb-2">Vew Details</button>
            </div>
          </div>
        </div> -->

      <!-- </div> -->



  <section class="section_bg_2">
    <div class="container">
      <h2 class="text-center display-5 text-white">Join AI Educator</h2>
       <!-- <p class="lead text-white">Reasons should be reasonable to join a Course.</p> -->
      <div class="row mt-5 text-center text-white">
        <div class="col-lg-4">
          <div class="icon">
            <i class="fas fa-hourglass-half fa-2x "></i>
          </div>
          <h5 class="mt-3 text-white">As the time is limited</h5>
        </div>
        <div class="col-lg-4">
          <div class="icon">
            <i class="fas fa-graduation-cap fa-2x"></i>
          </div>
          <h5 class="mt-3 text-white">Master a course in 45 days</h5>
        </div>
        <div class="col-lg-4">
          <div class="icon">
            <i class="fas fa-users  fa-2x"></i>
          </div>
          <h5 class="mt-3 text-white">All Advantages of Group Learning</h5>
        </div>
      </div>
      <div class="row row-grid mt-5 text-center text-white">
        <div class="col-lg-3">
          <div class="icon">
            <i class="fas fa-desktop  fa-2x"></i>
          </div>
          <h5 class="mt-3 text-white">Inbuilt Forum</h5>
        </div>
        <div class="col-lg-3">
          <div class="icon">
            <i class="fas fa-chalkboard-teacher  fa-2x"></i>
          </div>
          <h5 class="mt-3 text-white">Dedicated Mentor</h5>
        </div>
        <div class="col-lg-3">
          <div class="icon">
            <i class="fas fa-user-tie  fa-2x"></i>
          </div>
          <h5 class="mt-3 text-white">Mock Interviews</h5>
        </div>
        <div class="col-lg-3">
          <div class="icon">
            <i class="fas fa-user-graduate  fa-2x"></i>
          </div>
          <h5 class="mt-3 text-white">Internships</h5>
        </div>
      </div>
    </div>
  </section>

<!-- <section class="bg-primary-3">
    <div class="container">
      <h2 class="text-center display-5 text-white">Join AI Educator</h2>
       <p class="lead text-white">Reasons should be reasonable to join a Course.</p>
      <div class="row mt-5 text-center text-white">
        <div class="col-lg-4">
          <div class="icon">
            <i class="fas fa-hourglass-half fa-3x mb-5"></i>
          </div>
          <h5 class="mt-3 text-white">As the time is limited</h5>
        </div>
        <div class="col-lg-4">
          <div class="icon">
            <i class="fas fa-clock fa-3x"></i>
          </div>
          <h5 class="mt-3 text-white">Master a course in 45 days</h5>
        </div>
        <div class="col-lg-4">
          <div class="icon">
            <i class="fas fa-users  fa-3x"></i>
          </div>
          <h5 class="mt-3 text-white">All Advantages of Group Learning</h5>
        </div>
      </div>
      <div class="row row-grid mt-5 text-center text-white">
        <div class="col-lg-4">
          <div class="icon">
            <i class="fas fa-desktop  fa-3x"></i>
          </div>
          <h5 class="mt-3 text-white">Inbuilt Forum</h5>
        </div>
        <div class="col-lg-4">
          <div class="icon">
            <i class="fas fa-user  fa-3x"></i>
          </div>
          <h5 class="mt-3 text-white">Dedicated Mentor</h5>
        </div>
        <div class="col-lg-4">
          <div class="icon">
            <i class="fas fa-user-friends  fa-3x"></i>
          </div>
          <h5 class="mt-3 text-white">Mock Interviews</h5>
        </div>
      </div>
    </div>
  </section> -->

  <div class="container mt-5">
    <div class="row mb-5">
      <div class="col">
        <div class="card card-body border-0 o-hidden mb-0 text-light bg_2">
          <div class="position-relative d-flex flex-column flex-md-row justify-content-between align-items-center">
            <div class="h3 text-center mb-md-0 text-dark">Start building beautiful career</div>
            <a routerLink="/login" class="btn btn-lg btn-white">
              Start Now
            </a>
          </div> 
          <div class="decoration layer-0">
            <img class="bg-primary-2" src="" alt="deco-blob-1 decoration" data-inject-svg="">
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- {%else%} -->
  <!-- <section class="p-0 pt-2 pb-2 pl-5" style="background-color: #ffc107;">
    <div class="row">
      <div class="col-md-9">
        <h4 class="h2 ml-5 text-white"><img width="100" height="100" src="../../../assets/images/avatar.jpg"
            class="rounded-circle " /><span class="ml-5">Hi
                  {{request.user.username}},
                 Welcome back.</span>
                  <a href="/profile" class="btn profile-btn btn-sm btn-info-outline">Profile</a></h4>
      </div>
      <div class="col-md-3 row">
        <div class="col-md-4 h5  text-center mt-3">
          {{regCourses.count}}
          3
          <br>
          Courses
        </div>
        <div class="col-md-4 h5  text-center mt-3">
           {{rewards}}
          15
          <br>
          Rewards
        </div>
        <div class="col-md-4 h5  text-center mt-3">
          1
          <br>
          Badges
        </div>
      </div>
    </div>
  </section> -->


