    <section class="details-page section page-name">
        <div class="">
            <div class="section-padding">
                <div class="container">
                    <h2 class="section-title">Contact us</h2>
                </div><!-- /.container -->
            </div><!-- /.section-padding -->
        </div><!-- /.overlay -->
    </section><!-- /.page-name -->

    <section class="section contact text-center">
        <div class="section-padding">
            <div class="container">
                <div class="row"> 
                    <div class="col-md-4">
                        <div class="item">
                            <div class="item-icon">
                                <i class="icon icon-call-out"></i>
                            </div><!-- /.item-icon -->
                            <h3 class="item-title">Phone</h3><!-- /.item-title -->
                            <span>+9140 49504899</span>
                        </div><!-- /.item -->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="item">
                            <div class="item-icon">
                                <i class="icon icon-location-pin"></i>
                            </div><!-- /.item-icon -->
                            <h3 class="item-title">Address</h3><!-- /.item-title -->
                            <span>Plot No:13, Road NO:09, Jubliee Hills, Hyderabad, 500033</span>
                        </div><!-- /.item -->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="item">
                            <div class="item-icon">
                                <i class="icon icon-envelope-open"></i>
                            </div><!-- /.item-icon -->
                            <h3 class="item-title">Email</h3><!-- /.item-title -->
                            <span>admin@metagogyai.com</span>
                        </div><!-- /.item -->
                    </div><!-- /.col-md-4 -->
                </div><!--/.row-->
                <div id="googleMaps" class="google-map-container"></div>

            </div><!--/.container-->
        </div><!-- /.section-padding -->
    </section><!--/.contact-->

    <section class="section section-lg">
      <div class="container">
        <div class="card bg-gradient-info shadow-lg border-0">
          <div class="p-5">
            <div class="row align-items-center">
              <div class="col-lg-8">
                <h3 class="text-white">Get weekly updates</h3>
                <input type="email" name="email" placeholder="Email" class="form-control">
              </div>
              <div class="col-lg-3 ml-lg-auto mt-5">
                <a href="#" class="btn btn-white">Subscribe Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>  