<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
    <div class="border mt-2">
        <div>
            <h5 class="display-5 text-center">Course curriculum</h5>
        </div>
        <div class="curriculum-details pl-3 pr-2 sideTop" style="overflow-x: auto; height: 100vh;">
            <div class="card card-sm card-body shadow-3d">
                <a class="title text-primary" data-toggle="collapse" href="#collapseExample86"><strong>Python.</strong>
                    <span class="float-right"><i class="fas fa-angle-down" aria-hidden="true"></i></span></a>
                <ul class="list-group collapse" id="collapseExample86">
                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/100/101/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> Getting started with Python."><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; Getting started
                                with Python.</a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/100/103/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> Variables, Numbers  and  operators"><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; Variables,
                                Numbers and operators</a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/100/105/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> Strings."><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; Strings.</a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/100/107/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> Lists."><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; Lists.</a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/100/109/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> Dictionaries."><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; Dictionaries.</a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/100/111/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> Control statements."><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; Control
                                statements.</a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/100/113/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> Functions"><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; Functions</a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/1"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; Some keys and values</a></span>
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/2"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; VARIABLES AND OPERATIONS</a></span>
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/7"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; Random guess with strings</a></span>
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/8"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; Append and average</a></span>
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/10"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; Nested lists</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/16"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; Calulator</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/17"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; Linear search</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/31"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; SUPER DISCOUNT</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/35"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; Sum of Series</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                </ul>
            </div><!-- /.content-table -->

            <div class="card card-sm card-body shadow-3d">
                <a class="title text-primary" data-toggle="collapse" href="#collapseExample87"><strong>Machine Learning
                        .</strong> <span class="float-right"><i class="fas fa-angle-down"
                            aria-hidden="true"></i></span></a>

                <ul class="list-group collapse" id="collapseExample87">



                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/200/201/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> Introduction to Deep Learning and  Numpy."><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; Introduction to
                                Deep Learning and Numpy.</a>
                        </span>
                        <!-- <span class="float-right">--:--</span> -->


                    </li>




                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/200/203/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> Pandas."><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; Pandas.</a>
                        </span>
                        <!-- <span class="float-right">--:--</span> -->


                    </li>




                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/200/205/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> Matplotlib."><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; Matplotlib.</a>
                        </span>
                        <!-- <span class="float-right">--:--</span> -->


                    </li>




                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/200/207/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> Tensorflow and Feed forward Neural Networks."><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; Tensorflow and
                                Feed forward Neural Networks.</a>
                        </span>
                        <!-- <span class="float-right">--:--</span> -->


                    </li>




                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/38"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; Tensor and dimensions</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/39"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; Tensor dimensions 2</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/40"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; Tensor dimensions 3</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/41"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; CONSTANT TENSORS</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/42"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; CONSTANT TENSORS 2</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/43"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; 0's and 1's</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                    <li class="list-group-item">
                        <span class="float-left"><a href="/Assignments/44"><i class="fas fa-bolt text-danger"
                                    aria-hidden="true"></i>&nbsp;&nbsp; Add given two tensors</a></span>
                        <!-- <span class="float-right">--:--</span> -->
                    </li>

                </ul>
            </div><!-- /.content-table -->

            <div class="card card-sm card-body shadow-3d">
                <a class="title text-primary" data-toggle="collapse" href="#collapseExample72"><strong>MNIST with
                        Tensorflow</strong> <span class="float-right"><i class="fas fa-angle-down"
                            aria-hidden="true"></i></span></a>

                <ul class="list-group collapse" id="collapseExample72">



                    <li class="list-group-item">
                        <span class="float-left">
                            <a href="/topicAndTest/13/300/301/" data-toggle="tooltip" title=""
                                data-original-title="click here to open -> MNIST with Tensorflow"><i
                                    class="far fa-file-alt text-warning" aria-hidden="true"></i>&nbsp; MNIST with
                                Tensorflow</a>
                        </span>
                        <!-- <span class="float-right">--:--</span> -->


                    </li>




                </ul>
            </div><!-- /.content-table -->

        </div><!-- /.curriculum-details -->
    </div>


</div>
<div id="main">
    <div class="">
        <button id="openNav" class="w3-button w3-xlarge" style="background: lightblue;"
            onclick="w3_open()">&#9776;</button>
        <div class="w3-container">
            <div class="col-md-10 mt-3 mx-auto">
                <div class="ml-5 test mb-5">
                    <h2 class="mb-0 mb-3 mt-3 ml-2 " style="font-weight: 600;">Take a test on Functions</h2>
                    <form action="/Testvalidate/1" method="post" enctype="multipart/form-data"><input type="hidden"
                            name="csrfmiddlewaretoken"
                            value="6dS4gpe1tH8DHaTXHbkKP5PE8NURk6FZsFIWkxuxgJ8v8ROIUq9Fq40rB1MWdR3K">
                        <input type="hidden" name="questionid" id="questionid" value="149">
                        <input type="hidden" name="totalcount" value="8">
                        <input type="hidden" name="next" value="0">
                        <input type="hidden" name="previous"
                            value="{'prevpagename': 'FunctionsML Bootcamp', 'chaptno': 100, 'topicno': 113}">
                        <input type="hidden" name="timegiven" id="timegiven" value="60">
                        <div class="card card-body shadow-3d">
                            <div class="row  bg-info p-2 rounded text-white">
                                <div class="col-md-10">
                                    Q. Single Choice Question
                                </div>
                                <div class="col-md-2">
                                    <i class="far fa-clock" aria-hidden="true"></i>&nbsp;<span id="time">46
                                        sec</span>
                                </div>
                            </div>
                            <pre>def Max(a, b):
                    if a &gt; b:
                        print(a, 'is maximum')
                    elif a == b:
                        print(a, 'is equal to', b)
                    else:
                        print(b, 'is maximum')
                Max(3, 4)</pre>

                            <ul class="list-group mb-5">
                                <li class="list-group-item">
                                    <div class="custom-radio">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" value="418" name="answer"
                                                id="418" required="">
                                            <label class="custom-control-label" for="418"><span>
                                                    <pre>3</pre></span></label>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="custom-radio">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" value="419" name="answer"
                                                id="419" required="">
                                            <label class="custom-control-label" for="419"><span>
                                                    <pre>4</pre></span></label>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="custom-radio">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" value="420" name="answer"
                                                id="420" required="">
                                            <label class="custom-control-label" for="420"><span>
                                                    <pre>4 is maximum</pre></span></label>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="custom-radio">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" value="421" name="answer"
                                                id="421" required="">
                                            <label class="custom-control-label" for="421"><span>
                                                    <pre>None</pre></span></label>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <input type="hidden" name="timeTaken" value="46" id="timeTaken">
                            <button type="submit" id="TimeButton" value="Submit Answer" class="btn btn-primary">Submit
                                Answer</button>
                        </div>
                    </form>
                </div>
                <div class="row mb-5 mt-2">
                    <div class="col-md-3">
                        <a class="page-link rounded" href="/topicAndTest/13/100/113/">Previous</a>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <a class="page-link rounded" href="/topicAndTest/13/100/113/">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>