<section class="pro-c mx-auto p-4 section" >
    <div class="row justify-content-center" style="margin-left: 5rem; margin-right: 5rem;" >
        <div class="col-md-3 " style="text-align: center;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCLXjQkJqQdd04zmt1JOsp_uer6L1oWsd1hG4dWX4m9URSenOVqA&s" alt="avatar" style="width: 180px;">  
        </div>
        <div class="col-md-6 p-2" >
        <h4><b>{{userName}}</b></h4><br>
        <h6><b>{{userMail}}</b></h6><br>
        <a routerLink="/updateProfile"><i  class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;<b>Update Profile</b></a>
        </div>
        <div class="col-md-2" style="text-align: center;">
            <button type="button" name="dashboard" class="btn btn-primary p-1 mb-4" style="border-radius: 5px;float: left;width: 200px;height: 45px;" id="button" ><a routerLink="/dashboard">Go To Dashboard</a></button><br>
            <!-- <button type="button" name="dashboard" class="btn btn-success p-1 mb-4" style="border-radius: 5px;float: right;width: 200px;height: 45px;" id="button"><a href="#">Update Profile</a></button> -->
        </div>
    </div>
</section>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <div class="container demo">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:black">
                               Courses Registered
                              <i class="more-less fa fa-plus" style="color: black; "></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body" style="cursor: pointer">
                            <p style="color: rgb(177, 5, 42);padding-left: 20px;">No Courses registered</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center" style="margin-bottom: 3rem;">
    <div class="col-md-2">
        <button type="button" class="btn btn-success p-2 btn-block" id="button"><a href="#" style="color: white;">Explore Courses</a></button>
    </div>
</div>
</div>
